<!DOCTYPE html>
<html lang="es">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SayThread</title>
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/page.css' %}">
    </head>
    <body>
       
        <div class="wrapper">
            <div class="titulo">
                <img id="logo-imagen" src="{% static 'core/img/threadIcon.png' %}"/>
                <a id="gothread" href="{% url 'home' %}"><h1 style="position: absolute;
                    top: -10px;
                    color: white;">Say<br>Thread</h1></a>
            </div>

           

            <h2 class="text-center">Crea una cuenta de SayThread</h2>
            <form id="registro-formulario" method="POST" action="{% url 'enviarregistro' %}" class="validacion" novalidate>
                <div class="primera-linea">
                    <input name="nombre" type="text" class="formulario" id="nombre-input" placeholder="Nombre" required>
                </div>
                <div class="segunda-linea">
                    <input name="nombre_usuario" type="text" class="formulario" id="nombre-usuario-input" placeholder="Nombre de Usuario" required>
                    <input name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  type="email" class="formulario" id="email-input" placeholder="{% if correo_error %}Correo invalido{% else %}Correo Electrónico{% endif %}" required>
                </div>
                <div class="tercera-linea">
                    <input name="contrasena" type="password" class="formulario" id="contrasena-input" placeholder="{% if contrasena_error %}Contraseña debe ser igual en los dos campos{% else %}Contraseña{% endif %}" required>
                    <input name="confirmar_contrasena" type="password" class="formulario" id="confirmar-contrasena-input" placeholder="Repetir Contraseña" required>
                </div>
                <div class="cuarta-linea">
                    <input name="fecha_nacimiento" type="date" class="formulario" id="fecha-input" placeholder="Fecha de Nacimiento" required>
                </div>
                <input name="rol" value="1" type="hidden" class="formulario" id="oculto" required>
                <div class ="boton">
                    {% csrf_token %}
                   
                    <button type="submit" class="registrar">Registrar</button>
                </div>
            </form>

            <h7 class ="ir-registro">¿Ya tienes una cuenta? Inicia sesión <span id = "ir-registro"><a href="{% url 'inicio' %}" style="color: rgb(210, 210, 210);">aquí</a></span></h7>
        </div>
        
        <!-- <script src="{% static 'core/js/registro.js' %}"></script> -->
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>